nav.navbar.navbar-default
                .container-fluid
                    .navbar-header
                        a.navbar-brand(href="#") Short.ly
                    .navbar-collapsed
                        ul.nav.navbar-nav
                            li
                                a(href="links") Get My Shortened Links
                        ul.nav.navbar-nav.navbar-right
                            login

.jumbotron
    .container
        .col-sm-10.col-sm-offset-1
            router-outlet