nav.navbar.navbar-default
    .container
        .navbar-header
            a.navbar-brand([routerLink]="['']") Short.ly
        .navbar-collapsed
            ul.nav.navbar-nav
                li
                    a([routerLink]="['links']") Get My Shortened Links

            ul.nav.navbar-nav.navbar-right(*ngIf="authService.loggedIn")
                li
                    p.nav.navbar-text(*ngIf="authService.loggedIn") Hello {{authService.username}}!
                li
                    a([routerLink]="['logout']") Log Out

            ul.nav.navbar-nav.navbar-right(*ngIf="!authService.loggedIn")
                li
                    a([routerLink]="['register']") Register
                li
                    a([routerLink]="['login']") Log In

.container.jumbotron
    .col-sm-10.col-sm-offset-1
        router-outlet