.row.col-lg-8.col-lg-offset-2.jumbotron.d-flex.align-items-center
    .input-group
        input(type="text" class="form-control" placeholder="Paste a link to shorten it")
        span.input-group-btn
            button.btn.btn-large(type="button") Shorten!
    p your link: 