html  
    head
        title Link Shortener Service
        base(href="/")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        
        script(src="node_modules/core-js/client/shim.min.js")
        script(src="node_modules/zone.js/dist/zone.js")
        script(src="node_modules/systemjs/dist/system.src.js")
        
        script(src="systemjs.config.js")

        link(rel="stylesheet" type="text/css" href="bootstrap.min.css")

        script
            | System.import('main.js').catch(function(err){ console.error(err); });
            
    body
        .container
            main
                app Loading Link Shortener Service...

            footer.footer.container.navbar-fixed-bottom.navbar.navbar-default
                .container-fluid
                    .navbar-header
                        ul.nav.navbar-nav
                            li <a href="https://github.com/alextgm">Github</a>